body { background: #d57e6e; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 21px; display: flex; }
.block-payment-0 { color: #cf8441; font-size: 16px; margin-bottom: 5px; }
.block-database-1 { color: #93ebc6; font-size: 13px; margin-bottom: 5px; }
.block-product-2 { color: #7305a0; font-size: 19px; margin-bottom: 5px; }
.block-helper-3 { color: #454b02; font-size: 21px; margin-bottom: 5px; }
.block-shipping-4 { color: #4d8b4a; font-size: 14px; margin-bottom: 5px; }
.block-uploader-5 { color: #fa6ffb; font-size: 15px; margin-bottom: 5px; }